<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="selectColors">
        <form id="fcolors">
            <h2>Select the colours:</h2>
            
                
                    <input type="checkbox" name="option" value="red">Red</option>
                    <input type="checkbox" name="option"value="blue">Blue</input>
                    <input type="checkbox" name="option" value="green">Green</input>
                    <input type="checkbox" name="option" value="yellow">Yellow</input>
                    <input type="checkbox" name="option" value="purple">Purple</input>
                    <input type="checkbox" name="option" value="orange">Orange</input>
                

            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>    
    </div>
    <script src="../js/selectcolours.js"></script>
</body>
</html>